*.log

vagrant_cached_domino_mfa_files/
vagrant_cached_domino_mfa_files

.vagrant

dist-id-files/

.DS_Store
*.swp
.classpath
.project
.settings/
.gradle/
build/

# only save the .bsh files in dist-build
dist-build/*.class
dist-build/*.idt
dist-build/*.jar
dist-build/*.nbf
dist-build/*.txt
dist-build/net

dist-built/*
